:root {
  --main-color: #d3ad7f;
  --white: #fff;
  --black: #13131a;
  --bg: #010103;
  --border: 0.1rem solid rgba(255, 255, 255, 0.3);
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  transition: 0.2s;
  font-family: "Bungee Spice", sans-serif;
  font-weight: 600;
  font-style: normal;
}

body {
  background: var(--white);
}

section {
  padding: 3rem 2rem;
  margin: 0 auto;
  max-width: 1200px;
}

.barber {
  display: flex;
  color: #fff;
  font-size: 70px;
  cursor: pointer;
  margin-top: 1rem;
  display: inline-block;
  text-transform: uppercase;
}

.bola {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  border-bottom: var(--border);
  background-color: rgba(0, 0, 0, 0.928);
}

.header section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.5rem;
  padding-bottom: 3rem;
}

.navbar a {
  margin: 0 1rem;
  font-size: 1.8rem;
  color: #fff;
  margin-top: 10rem;
}

.navbar a:hover {
  color: var(--main-color);
  border-bottom: 0.1rem solid var(--main-color);
  padding-bottom: 0.5rem;
  font-size: 2rem;
}

.header .logo img {
  height: 6rem;
}

.icons {
  background: var(--main-color);
  color: var(--white);
  font-size: 1.7rem;
  cursor: pointer;
  margin-top: 1rem;
  display: inline-block;
  border-radius: 2rem;
}

.what {
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: none;
  padding: 0px 15px;
  gap: 10px;
  font-size: 12px;
  font-weight: bold;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.btn {
  background-color: var(--main-color);
  color: var(--white);
  padding: 1rem 3rem;
  font-size: 1.7rem;
  cursor: pointer;
  margin-top: 1rem;
  display: inline-block;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
}

.home-container {
  background-image: url(https://i.pinimg.com/736x/5c/28/37/5c2837015b352088028ce39b291637a6.jpg);
  background-size: cover;
  display: flex;
  max-width: 100%;
  background-attachment: fixed;
}

.home-container section {
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.content {
  max-width: 60rem;
}

.content h3 {
  color: var(--bg);
  font-size: 6rem;
}

/**/
.content p {
  font-size: 2rem;
  font-weight: 100;
  line-height: 1.8;
  padding: 1rem 0;
}

.title {
  font-size: 4rem;
  color: var(--bg);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 4rem;
}

.title span {
  text-transform: uppercase;
  color: var(--main-color);
}

.about .row .content {
  pad: 2rem;
}

.about .row .content h3 {
  font-size: 3rem;
  color: #fff;
}

.about .row .content p {
  font-size: 1.6rem;
  color: #fff;
  padding: 1rem 0;
  line-height: 1.8;
}

.box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  cursor: pointer;
}
.menu {
  font-size: 100%;
}

.menu .box-container .box {
  text-align: center;
  border: var(--border);
  padding: 5rem;
}

.menu .box-container .box img {
  height: 10rem;
}

.menu .box-container .box h3 {
  color: #010103;
  font-size: 2rem;
  padding: 1rem;
}

.menu .box-container .box .price {
  color: #fff;
  font-size: 2.5rem;
  padding: 0.5rem;
}

.menu .box-container .box .price span {
  font-size: 1.5rem;
  text-decoration: line-through;
  font-weight: lighter;
}

.menu .box-container .box:hover {
  background-color: var(--main-color);
}

.menu .box-container .box:hover > * {
  color: var(--black);
}

.review .box-container .box {
  border: var(--border);
  text-align: center;
  padding: 3rem 2rem;
}

.review .box-container .box p {
  font-size: 1.5rem;
  color: #fff;
  padding: 2rem 0;
  line-height: 1.8;
}

.review .box-container .box img {
  height: 7rem;
  width: 1rem;
  border-radius: 50%;
}

.clientes .h2:hover span {
  background-color: #fff;
}

.address {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer {
  text-align: center;
}

.footer .share {
  padding: 1rem 0;
}

.footer .share img {
  margin: 0.3rem;
  cursor: pointer;
  border-radius: 50%;
  padding: 1rem;
}

.footer .share img:hover {
  background-color: var(--main-color);
}

.menu-btn {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}
.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  border-radius: 3px;
  transition: 0, 3s;
}

.base {
  display: flex;
  text-align: center;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  padding: 8rem;
  gap: 2rem;
  font-size: 1.5rem;
}

/*Responsividade*/

@media (max-width: 768px) {
  :root {
    font-size: 48%;
  }

  .header .navbar {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    flex-direction: column;
    background-color: #010103;
    padding: 1rem 2rem;
    border-top: var(--border);
    border-bottom: var(--border);
  }
  .header .navbar.active {
    display: flex;
  }
  .header .navbar a {
    padding: 1.2rem 0;
    margin: 0;
    font-size: 2rem;
    border-bottom: var(--border);
  }
  .menu-btn {
    display: flex;
  }

  .icons .what {
    display: none;
  }
}
